<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-8">
        <%= f.input :nome %>
      </div>
      <div class="col-md-4">
        <%= f.input :cpf %>
      </div>
      <div class="col-md-7">
        <%= f.input :endereco %>
      </div>
      <div class="col-md-4">
        <%= f.input :cidade %>
      </div>
      <div class="col-md-1">
        <%= f.input :uf %>
      </div>
      <div class="col-md-6">
        <%= f.input :fone %>
      </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
