<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-8">
        <%= f.input :nome %>
      </div>
      <div class="col-md-4", id = "mask_cpf">
        <%= f.input :cpf , label: 'CPF', maxlength: "14" %>
      </div>
      <div class="col-md-7">
        <%= f.input :endereco,label: 'Endereço' %>
      </div>
      <div class="col-md-4">
        <%= f.input :cidade %>
      </div>
      <div class="col-md-1">
        <%= f.input :uf, label: 'UF', maxlength: "2" %>
      </div>
      <div class="col-md-6", id = "mask_phone">
        <%= f.input :fone, label: 'Fone (com DDD)', maxlength: "15"%>
      </div>
    </div>
    <div class="form-actions">
      <div class="pull-right">
        <%= f.button :submit, :class => "btn-success" %>
      </div>
    </div>
  </div>
<% end %>
