<div class="container">

  <% breadcrumb :cliente, @cliente %>

  <% if @cliente.save %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <p>
    <strong>Nome:</strong>
    <%= @cliente.nome %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= @cliente.cpf %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= @cliente.endereco %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @cliente.cidade %>
  </p>

  <p>
    <strong>UF:</strong>
    <%= @cliente.uf %>
  </p>

  <p>
    <strong>Fone:</strong>
    <%= @cliente.fone %>
  </p>

  <div>
      <%= link_to 'Voltar', clientes_path, :class => "btn btn-primary" %>
      <%= link_to 'Editar', edit_cliente_path(@cliente), :class => "btn btn-success" %>

  </div>
</div>
