<%= simple_form_for(@pedido) do |f| %>
  <% @pedido.errors.full_messages.each do |message| %>
    <div class="alert alert-danger">
      <li><%= message%></li>
    </div>
  <% end %>
  <div class="form-inputs ">
    <%= f.association :cliente %>
    <hr/>
    <%= f.simple_fields_for :itens_pedido do |item_pedido| %>
      <%= render 'item_pedido_fields', f: item_pedido %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= link_to_add_association 'Adicionar produto', f, :itens_pedido, :class => "btn btn-success "%>
    <hr/>
  </div>
  <div class="form-actions">
    <div class="pull-right">
      <%= f.button :submit, :class => "btn-success"  %>
    </div>
  </div>
<% end %>
