<%= simple_form_for(@pedido) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :cliente %>
    <%#= debugger %>
    <%= f.simple_fields_for :itens_pedido do |ff| %>
      <%= ff.association :produto %>
      <%= link_to_remove_association "remove task", ff %>

      <%#= render 'campos_itens_pedido', f: ff %>
      <%= link_to_add_association 'add task', ff, :itens_pedido %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <!-- <button type="button" class="btn btn-default">
      <%= link_to 'seguir', cocoon_pedidos_path %> </button> -->
  </div>
<% end %>
