<%= simple_form_for(@pedido) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :cliente %>
    <hr/>
    <%= f.simple_fields_for :itens_pedido do |ff| %>
      <%= render 'item_pedido_fields', f: ff %>
    <% end %>
  </div>

  <div class="form-actions">
    <hr/>
    <%= link_to_add_association 'Adicionar produto', f, :itens_pedido, :class => "btn btn-success"%>
  </div>

  <div class="form-actions">
    <br>
    <%= f.button :submit, :class => "btn-success"  %>
  </div>
  <br>
<% end %>
