
<%= simple_form_for @pedido do |f| %>
<div class="form-inputs">

  <%= f.simple_fields_for :itens_pedido do |ff| %>
  <%#= ff.association :produto_id %>
  <%#= link_to_remove_association "remove task", ff %>

    <%= render 'campos_itens_pedido', f: ff %>
  <%= link_to_add_association 'add task', f, :itens_pedido %>
  <% end %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
