<p id="alert"><%= alert %></p>
<% breadcrumb :root %>
<% if notice.present?%>
  <div class="alert alert-success mensagem" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>
<h1>Pedidos</h1>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-11">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :id_eq_or_cliente_nome_or_cliente_cpf_cont, class: "form-inputs", placeholder: "Buscar cliente", class: "form-control"%>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <button  type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>
  <% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :id, "Código" %></th>
      <th><%= sort_link @q, :cliente_nome, "Cliente" %></th>
      <th><%= sort_link @q, :cliente_cpf, "CPF" %></th>
      <th><%= sort_link @q, :status, "Status" %></th>
      <th><%= sort_link @q, :created_at, "Data" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr data-link="<%= pedido_path(pedido) %>">
        <td><%= pedido.id %></td>
        <td><%= pedido.cliente %></td>
        <td><%= pedido.cliente.cpf %></td>
        <td><%= pedido.liberado? ? "Liberado" : "Não liberado" %></td>
        <td><%= pedido.created_at.to_s('%d/%m/%Y %H:%M') %> </td>
        <td>
          <%= link_to pedido, :class => "btn btn-primary btn-xs" do %>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Detalhes
          <% end %>
          <%= link_to edit_pedido_path(pedido), :class => "btn btn-primary btn-xs" do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
          <% end %>
          <%= link_to pedido, method: :delete, data: { confirm: 'Tem certeza?' }, :class => "btn btn-danger btn-xs" do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <div class="navbar navbar-right">
    <%= will_paginate @Pedidos, renderer: BootstrapPagination::Rails  %>
  </div>
</table>
<br>
<div >
  <%= link_to 'Voltar', root_path,:class => "btn btn-primary" %>
  <div class="pull-right">
    <%= link_to 'Novo Pedido', new_pedido_path, :class => "btn btn-success" %>
  </div>
</div>
