<div class="container">
  <% breadcrumb :pedido, @pedido %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Cliente:</strong>
      <%= @pedido.cliente %>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Código</th>
        <th>Produtos</th>

        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pedido.itens_pedido.each do |item_pedido| %>
        <tr>
          <td><%= image_tag item_pedido.produto.image.url(:thumb)  %></td>
          <td><%= item_pedido.produto.id %></td>
          <td><%= item_pedido.produto.descricao%></td>

        </tr>
      <% end %>
    </tbody>

  </table>
  <div >
    <%= link_to 'Voltar', pedidos_path, :class => "btn btn-primary"  %>
    <%= link_to 'Editar', edit_pedido_path(@pedido), :class => "btn btn-success"  %>
  </div>
</div>
