<nav class="navbar navbar-inverse" >
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a>
          <%= link_to pedidos_path do %>
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Pedidos
          <% end %>
        </a>
      </li>
      <li>
        <a>
          <%= link_to produtos_path do %>
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Produtos
          <% end %>
        </a>
      </li>
      <li>
        <a>
          <%= link_to clientes_path do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Clientes
          <% end %>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a style="margin-top: 30px">
          Olá  <%= current_usuario.email %>!
        </a>
      </li>
      <li>
        <a>
          <%= link_to destroy_usuario_session_path, method: :delete do%>
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>  Logout
          <% end %>
        </a>
      </li>
    </ul>
  </nav>
