<nav class="navbar navbar-inverse" >
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <div class="navv" > Store </div>
      </li>
      <li>
        <a>
          <%= link_to pedidos_path do %>
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Pedidos
          <% end %>
        </a>
      </li>
      <li>
        <a>
          <%= link_to produtos_path do %>
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Produtos
          <% end %>
        </a>
      </li>
      <li>
        <a>
          <%= link_to clientes_path do %>
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Clientes
          <% end %>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="user">
        <a href="#" class="dropdown-toggle menu-topo-icone" data-toggle="dropdown" title="<%= "Autenticado como #{current_usuario.email}" %>">
          <i class="glyphicon glyphicon-user"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><%= (current_usuario.email).truncate(15) %></a></li>
          <li><%= link_to "Alterar Senha", edit_usuario_registration_path %></li>
          <li><%= link_to "Sair", destroy_usuario_session_path, method: 'delete' %></li>
        </ul>
      </li>
    </ul>
  </nav>
