<!DOCTYPE html>
<html>
  <head>
    <title>Controle Pedido</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <% if usuario_signed_in? %>
        <%= render 'layouts/nav_bar_user' %>
      <% end %>

    </header>
    
    <%= yield %>
  </body>
</html>
