<!DOCTYPE html>
<html>
  <head>
    <title>Controle Pedido</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="tudo">
    <header>
      <%= render 'layouts/nav_bar_login' %>
    </header>
    <div class="container">
      <% if alert.present?%>
        <div class="text-center m-t-lg">
          <div class="alert alert-warning mensagem" role="alert">
            <p class="alert"><%= alert %></p>
          </div>
        </div>
      <% end %>
      <%= yield %>
      <div class="text-center m-t-lg">
        <br>
        <br>
        <br>
        <strong>Copyright</strong> Jean Andreolla &copy; <%= Date.today.year %>
      </div>
    </div>
  </body>
</html>
